﻿@model IEnumerable<Entity.Producto>

@{
    ViewBag.Title = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Productos</h2>

<p>
    @Html.ActionLink("Insertar Nuevo Producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoProducto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="success">
        <td>
            @Html.DisplayFor(modelItem => item.IdProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoProducto)
        </td>
        <td>
            @Html.ActionLink("Modificar Producto", "Edit", new {  id=item.IdProducto }) |
            @Html.ActionLink("Ver Detalles", "Details", new {  id=item.IdProducto }) |
            @Html.ActionLink("Eliminar Producto", "Delete", new {  id=item.IdProducto })
        </td>
    </tr>
}

</table>
